%h3 Find courses:

-if(session[:last_finder_query].nil?)
-last_query_text = ""
-else
-last_query_text = session[:last_finder_query]
-end

-form_tag('', :method => :get, :class => "search") do
= text_field_tag 'q', last_query_text, :size => 30, :class => "text"
= submit_tag 'Search', :name => nil, :class => "button"
-end
.small_note 
  %p Use any combination of weekdays, time ranges and course names.
  %p (<em>Ex:</em> MT 1000-1930 LING101; "Principles of Petrology" 800-; calculus TWR 800-2100) 

%br/

-total_results = @results.nil? ? 0 : @results.total_entries

-if(total_results > 0)
-total_results_text = "(#{total_results} courses found)" 
-else
-total_results_text = "(no courses found)"
-end

-unless @results.nil? or @results.size < 1

-# build the header
.section_search_results
  %table
    %colgroup
      %col.code/
      %col.section/
      %col.name/
      %col.days/
      %col.starts/
      %col.ends/
      %col.enrollment/
      %col.instuctor/
      %col.location/
      
    %tr.section_list_header
      %th.code{:scope => "col"} Code
      %th.section{:scope => "col"} Section
      %th.name{:scope => "col"} Name
      %th.days{:scope => "col"} Days
      %th.starts{:scope => "col"} Starts
      %th.ends{:scope => "col"} Ends
      %th.enrollment{:scope => "col"} Enrollment
      %th.instructor{:scope => "col"} Instructor
      %th.location{:scope => "col"} Location
      
    -even_row = true
    -# build each row
    -for result in @results do
    -row_class = even_row ? "d0" : "d1"
    -enrollment_class = get_enrollment_cell_class(result.enrollment_current, result.enrollment_max)
    %tr{:class => [row_class, " csid_#{result.id}"]}
      %td=link_to(result.course_code, {:controller => 'course_sections', :action => 'show', :id => result.id}, {:class => 'dropdown_closed'})
      %td=result.section
      %td=result.course_name
      %td=result.days
      %td=format_lecture_time(result.start_time)
      %td=format_lecture_time(result.end_time)
      %td{:class => enrollment_class}=format_enrollment(result.enrollment_current, result.enrollment_max)
      %td=result.instructor
      %td=result.location
    -even_row = !even_row
    -end

-end

%p.pages_list
  .pagination
    = will_paginate @results, :container => false, :prev_label => "&lt", :next_label => "&gt" unless @results.nil? or @results.size < 1
    .result_count=total_results_text unless params['q'].nil?

%br/
%br/

.footnotes
  %ul.footer_items
    %li="catabuzz version: #{get_version}"
    %li="|"
    %li=link_to("Comments/Feedback (we love it)", {:controller => "feedback", :action => "index" })





